<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img
    src="assets/ps-logo.png"
    alt="Playstation Logo"
    width="140px"
    height="32px"
    >

  </div>
  <div class="menu-bar__item">
    <ul>
      <li><a href="#">Youtube</a></li>
      <li><a href="#">Linkedin</a></li>
      <li><a href="#">GitHub</a></li>
    </ul>
  </div>
</div>
